
body, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
  }


  header{
    background-color: #608BA6;
    width: 100%;
  }

  .imglogo{

    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{

    width: 30%;
  }

  
  .imagem-de-fundo { 

    background-image:url('./imagem/banner-medico-com-medico-usando-oculos.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    height: 550px; /* Ajuste a altura conforme necessário */
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 56px;
    color: white; /* Cor do texto sobreposto */
    text-align: left;
  }
  
  .imagem-de-fundo h1 {

    margin-right: 106px;
    margin-top: 123px;
    padding: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    line-height: 108px;
    
  }

  .bloco{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.blocotexto{
 
  max-width: 100%;

}
  .intro{
     flex: 0 0 10%; /* Ocupa 48% da largura disponível */
     max-width: 100%; /* Define a largura máxima como 48% para garantir o layout desejado */
     background-color: rgb(255, 255, 255);
     justify-content: center;
     text-align: start ;
     margin-left: 40px;
  }
  .intro h1 {
    font-family: 'Bebas Neue', sans-serif;;
    color: black;
    font-size: 79px;
    margin-top: 55px;
    margin-bottom: 35px;
    margin-left: 40px;
    margin-right: 40px;

  }

  .intro p {
    
    font-size: 25px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;

  }
  .formulario {
    background-color: #ffffff;
    padding: 20px;
    width: 700%;
    height: 950px;
    margin-left: 60px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    height: 900px;
  }
  
  label {
    margin-bottom: 18px;
    padding-left: 0px;
    padding: 21px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }
  
  input {
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid rgba(182, 214, 242, 0.45); /* B6D6F2 com 45% de transparência */
    border-radius: 5px;
  }
  
  button {
    background-color: rgba(182, 214, 242, 0.45); /* B6D6F2 com 45% de transparência */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    cursor: pointer;
    margin-top: 100px ;
    padding: 30px;
    border: none;
    
  }
  
  button:hover {
    background-color: rgba(182, 214, 242, 0.6); /* Cor um pouco mais intensa ao passar o mouse */
  }

.blocoimg {

   display: flex;
  justify-content: center;
  margin-right: 40px;
   max-width: 100%;
   height: 100%;
  
}

picture{
  width: 100%;
  height: 871px;

}

.img2 {

 width: auto;
 height: 100%;

}


.contato{

  background-color: #608BA6;
  width: 98.5%;
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: center;
  padding:10px;
  color: white;

}

.contatotexto h1{

  font-size: 18px;
  font-weight: 400px;
}

.contatotexto p {

  font-size: 15px;
}
 
   /* Telas de android Grande */

   @media screen and (max-width: 360px) {
   
    body, main {
        width: 100%;
        
    }

    .header{
      width: 352px;
    }

    
    .imglogo img {
      width: 50%;
  }

    
    .imagem-de-fundo {
      height: 349px;
      
    }

    .imagem-de-fundo h1{
       
      font-size: 40px;
      margin-right: 20px;
      line-height: 1.2;
    }

    .bloco, .blocotexto{

        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .intro{

      margin-left: 17px;
    }
    .intro h1{

      font-size: 64px;
      margin-bottom: 5px; 
      margin-right: 15px;
      margin-top: 10px;
      margin-left: 15px;
      padding: 15px;
    }

    .intro p{
      font-size: 20px;
      margin-top: 5px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px;
    }

    .formulario {

        margin-left: 8px;
        margin-right: 10px;
        margin-top: 69px;
        width: 335px;
        height: 400px;
               
    }

    form {
       
    height: 400px;
    margin-left: -34px;
    margin-right: 10px;

    }

     .formulario label {

      font-size: 18px;
      margin-left: 10px;
      
    }
   

    .blocoimg {

      display: block;
      max-width: 335px;
      height: 492px;
      margin-top: 20px;
      margin-bottom: 100px;
      margin-left: 10px;
      margin-right: 10px;

    }    
    
    button{
    
    margin-top: 39px;
   

    }

    input{

      padding: 20px;
      margin-bottom: 28px;
      margin-left: 10px;
    }

    picture{

      display: none;
    }


    .contato {

      width: 340px;
      margin-top: -6px;
      padding: 12px;
    }
     
}

@media screen and (max-width: 426px) {

  .intro p{

    margin-left: 26px;
  }
  .imagem-de-fundo {
    height: 385px;
  }

  .imagem-de-fundo h1 {
   
    font-size: 83px;
    line-height: 76px;
    margin-right: 56px;
    margin-top: 79px;
}
  .blocoimg {

    display: flex;
    flex-direction: column;
    margin-right: 20px;
    max-width: 100%;
    
  }

  button {

    margin-top: 58px;
  }


  .formulario{

    width: 300px;
    height: 850px;
    margin-left: 44px;

  }

  form{
    height: 500px;
 }

  label{

    padding: 12px 0;
  }

  input {

  padding: 18px 0;

  }

  picture{
    
      margin-left: 10px;
      margin-right: 10px;
      width: 300px;
      height: 871px;
  }

  .img2{

    width: 400px;
    height: 600px;

  }

  .contato{

    padding: 3px;
  }

}

@media screen and (max-width: 1000px)  {

  .img2{

    width: 100%;
    height: 91%;

  }

  .intro p {

  text-align: justify;
  }

  .formulario {

    width: 76%;
    height: 576px;
    margin-top: -27px;
  }

  label {
    margin-bottom: 11px;
    padding-left: 0px;
    padding: 6px;
    font-size: 21px;
  }

  input {
    padding: 9px;
    margin-bottom: 13px;
    margin-top: 0px;}

  button{

    margin-top: 126px;
    padding: 20px;

  }

  picture {
    width: 100%;
    height: 626px;
  } 

  .imagem-de-fundo {

    height: 458px
  }

  .contato {

    padding: 5px;
  }

} 

